.blog {
    padding-bottom: 56px;
    background-color:#F8F9FB;
}

.blog__title {
    margin-top: 50px;
    text-align: center;
}

.blog__text {
    text-align: center;
    padding: 0 20px;
    font-size: 1.1rem;
}

.blog__line {
    border-bottom: solid 4px #0d6efd;
    margin: 15px 39% 56px 39%;
}

.blog__article-list {
    margin: 0;
}

.blog__article {
    padding: 0 12px;
}

@media screen and (max-width: 768px) {
    .blog__banner {
        height: 82px;
        background: url("/assets/img/banner-tablette.jpg") no-repeat bottom;
        background-size: cover;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .blog__banner {
        height: 197px;
        background: url("/assets/img/banner-tablette.jpg") no-repeat bottom;
        background-size: cover;
    } 

    .blog__title {
        font-size: 2.2rem;
    }

    .blog__text {
        font-size: 1.2rem;
    }

    .blog__article-list {
        padding: 0 45px;
    }

    .blog__article-title {
        font-size: 1.8rem;
    }

    .blog__article-text {
        font-size: 1.05rem;
    }
}

@media screen and (min-width: 993px) {
    .blog__banner {
        height: 157px;
        background: url("/assets/img/banner.jpg") no-repeat bottom;
        background-size: cover;
    }

    .blog__title {
        font-size: 3rem;
    }

    .blog__text {
        font-size: 1.3rem;
    }

    .blog__article-list {
        padding: 0 61px;
    }

    .blog__article-title {
        font-size: 2rem;
    }

    .blog__article-text {
        font-size: 1.1rem;
    }
}