.blog {
    padding-bottom: 56px;
    background-color:#F8F9FB;
}

.blog h1 {
    margin-top: 50px;
    text-align: center;
}

.blog > p {
    text-align: center;
    padding: 0 20px;
    font-size: 1.1rem;
}

.blog .line {
    border-bottom: solid 4px #0d6efd;
    margin: 15px 39% 56px 39%;
}

.blog .row {
    margin: 0;
}

.blog .col {
    padding: 0 12px;
}

@media screen and (max-width: 768px) {
    .blog .banner {
        height: 82px;
        background: url("/img/banner-tablette.jpg") no-repeat bottom;
        background-size: cover;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .blog .banner {
        height: 197px;
        background: url("/img/banner-tablette.jpg") no-repeat bottom;
        background-size: cover;
    } 

    .blog h1 {
        font-size: 2.2rem;
    }

    .blog > p {
        font-size: 1.2rem;
    }

    .blog .row {
        padding: 0 45px;
    }

    .blog h2 {
        font-size: 1.8rem;
    }

    .blog .card p {
        font-size: 1.05rem;
    }
}

@media screen and (min-width: 993px) {
    .blog .banner {
        height: 157px;
        background: url("/img/banner.jpg") no-repeat bottom;
        background-size: cover;
    }

    .blog h1 {
        font-size: 3rem;
    }

    .blog > p {
        font-size: 1.3rem;
    }

    .blog .row {
        padding: 0 61px;
    }

    .blog h2 {
        font-size: 2rem;
    }

    .blog .card p {
        font-size: 1.1rem;
    }
}