.contact {
    background: url('img/contact-bg.jpg') no-repeat center;
    display: flex;
}

.contact__filter {
    background-color: rgba(0, 105, 255, 0.5);
    width: 100%;
}

.contact__content {
    background-color: #FFFFFF;
    box-shadow: 3px 6px 20px -10px black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    padding-bottom: 55px;
}

.contact__title {
    margin-top: 50px;
    text-align: center;
    padding: 0 60px;
}

.contact__text {
    text-align: center;
    font-size: 1.1rem;
}

.contact__line {
    border-bottom: solid 4px #0d6efd;
    margin: 15px 42% 60px 42%;
}

.contact__block-sections {
    margin: 0 49px;
}


.contact .block-form__title, .contact .block-address__title {
    margin-bottom: 32px;
    border-bottom: 2px solid #0d6efd;
    padding-bottom: 10px;
}

.contact .block-form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    row-gap: 16px;
}

.contact .block-address__address {
    margin: 0;
}

.contact .block-address__map {
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .contact {
        background-size: 2800px 100%;
    }
    
    .contact__filter {
        padding: 16px 24px 96px 24px;
    }

    .contact__text {
        padding: 0 61px;
    }

    .contact .block-form__title, .contact .block-address__title {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .contact {
        background-size:auto 100%;
    }
    
    .contact__filter {
        padding: 16px 45px 96px 45px;
    }
    
    .contact__title {
        font-size: 2.2rem;
    }

    .contact__text {
        padding: 0 110px;
    }
    
    .contact__block-sections {
        display: flex;
        column-gap: 24px;
    }

    .contact .block-form, .contact .block-address {
        flex: 1 1 50%;
    }

    .contact .block-form__title, .contact .block-address__title {
        font-size: 2rem;
    }

    .contact .block-form__form-message {
        height: calc(5rem + 4*7.5px + 22px);
    }
}

@media screen and (min-width: 993px) {
    .contact {
        background-size:auto 100%;
    }
    
    .contact__filter {
        padding: 16px 61px 96px 61px;
    }
    
    .contact__title {
        font-size: 2.9rem;
    }

    .contact__text {
        padding: 0 70px;
        font-size: 1.25rem;
    }

    .contact__block-sections {
        display: flex;
        column-gap: 24px;
    }

    .contact .block-form, .contact .block-address {
        flex: 1 1 50%;
    }

    .contact .block-form__title, .contact .block-address__title {
        font-size: 2.2rem;
    }

    .contact .block-form__form-message {
        height: calc(6rem + 5*7.5px + 22px);
    }

    .contact .block-address__address-text {
        font-size: 1.1rem;
    }
}