footer {
  background-color: #EEE;
  padding: 45px 0 16px 0;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  padding-left: 14px;
}

footer h4 {
  font-size: 1.2rem;
}

footer .footer__social-networks {
  width: 160px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

footer .footer__link {
  color: #444;
  text-decoration: none;
}

footer .footer__link:hover {
  color: #0d6efd; 
  font-weight: 600;
}

footer .footer__link-list {
  margin-left: 23px;
}

footer .footer__icon-list {
  width: 45px;
}

footer .footer__copyright {
  background-color: #1e1e1e;
  color: #EEE;
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  footer section {
    width: 100%;
  }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
  footer section {
    width: 50%;
  }

  footer > div {
    margin: 0 48px;
  }
}

@media screen and (min-width: 993px) {
  footer section {
    width: 25%;
  }

  footer > div {
    margin: 0 70px;
  }
}