header a {
  font-family: "Nunito Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

header .navbar-brand:hover {
  background-color: #298eff;
}
  
header .nav-link:hover {
  opacity: 0.8;
}

header .navbar-toggler:focus {
  box-shadow: 0 0 0 4px white;
}

header .navbar-toggler--active {
  box-shadow: 0 0 0 4px white;
}

header  .navbar-nav .nav-link.activeLink {
  color: white;
}

@media screen and (min-width: 993px) {
  header .navbar-nav {
    gap: 20px;
  }

  header .container {
    padding: 0 20px;
  }
}