.legalMentions {
    background-color:#F8F9FB;
}

.legalMentions h1 {
    margin-bottom: 10px;
    text-align: center;
}

.legalMentions .line {
    border-bottom: solid 4px #0d6efd;
    margin: 0 38.4% 48px 38.4%;
}

.legalMentions .accordion-button {
    color: #0d6efd;
    font-weight: 600;
}

.legalMentions .collapsed {
    color: rgb(33, 37, 41);
}

.legalMentions a {
    text-decoration: none;
    display: block;
}

.legalMentions a:hover {
    text-decoration: underline;
}

.legalMentions #collapseThree p {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .legalMentions {
        padding: 24px 12px;
    }

    .legalMentions h1 {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .legalMentions {
        padding: 24px 57px;
    }

    .legalMentions h1 {
        font-size: 2.4rem;
    }

    .legalMentions h3 {
        font-size: 1.65rem;
    }
}

@media screen and (min-width: 993px) {
    .legalMentions {
        padding: 24px 73px;
    }

    .legalMentions h1 {
        font-size: 3rem;
    }

    .legalMentions h3 {
        font-size: 1.8rem;
    }
}