.portfolio {
    padding-bottom: 56px;
    background-color:#F8F9FB;
}

.portfolio__title {
    margin-top: 50px;
    text-align: center;
}

.portoflio__principal-text {
    text-align: center;
    padding: 0 50px;
    font-size: 1.1rem;
}

.portfolio__line {
    border-bottom: solid 4px #0d6efd;
    margin: 15px 39% 55px 39%;
}

.portfolio__achievement-list {
    margin: 0;
}

.portfolio__achievement {
    padding: 0 12px;
}

@media screen and (max-width: 768px) {
    .portfolio__banner {
        height: 82px;
        background: url("/img/banner-tablette.jpg") no-repeat bottom;
        background-size: cover;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .portfolio__banner {
        height: 197px;
        background: url("/img/banner-tablette.jpg") no-repeat bottom;
        background-size: cover;
    } 

    .portfolio__title {
        font-size: 2.2rem;
    }

    .portoflio__principal-text {
        font-size: 1.2rem;
    }

    .portfolio__achievement-list {
        padding: 0 45px;
    }

    .portfolio__achievement-title {
        font-size: 1.8rem;
    }

    .portfolio__achievement-text {
        font-size: 1.05rem;
    }
}

@media screen and (min-width: 993px) {
    .portfolio__banner {
        height: 157px;
        background: url("/img/banner.jpg") no-repeat bottom;
        background-size: cover;
    }

    .portfolio__title {
        font-size: 3rem;
    }

    .portoflio__principal-text {
        font-size: 1.3rem;
    }

    .portfolio__achievement-list {
        padding: 0 61px;
    }

    .portfolio__achievement-title {
        font-size: 2rem;
    }

    .portfolio__achievement-text {
        font-size: 1.1rem;
    }
}